.body {
  background-color: #383a5d;
}

.container {
  width: 85%;       /* 横幅 */
  height: 85%;
  padding: 2vw;      /* 内側余白 */
  border: 2px solid #333; /* 枠線 */
  border-radius: 10px;     /* 角丸 */
  background-color: #3a3a3a; /* 背景色 */
  margin: 50px auto;       /* 中央に配置 */
}

/* 中の文字ボックス */
.text-box {
  width: 92.5%;
  height: 70%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #7a7a7a;
}
.button-row {
  display: flex;           /* 横並びにする */
  gap: 15px;               /* ボタン間の隙間 */
  justify-content: center; /* 中央寄せ */
  margin-top: 20px;        /* 上との間隔 */
  flex-wrap: wrap;         /* 狭い画面は折り返し */
}
